*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.contact-header{
    background-color: orange;
    height: 200px;
}
.contact-menu-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 18px;
}

/*contact form*/
main{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}
h2{
    text-align: center;
    margin: 10px;
}
h2,p{
    text-align: center;
    margin: 4px;
}
form{
    background-color: rgba(163, 219, 219, 0.281);
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-bottom: 20px;
    border-radius: 9px;
}
fieldset{
     display: flex;
    flex-direction: column;
    margin: 15px;
    border-radius: 8px;
}

.contact-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.form-container{
    background-color: rgba(163, 219, 219, 0.281);
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.form-items{
    display: flex;
    flex-direction:row;
    gap: 70px;
}
.contact-info-items{
    display: flex;
    justify-content: space-between;
    gap: 9px;
    margin: 20px;
    padding-right: 30px;
}
.form-input{
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 4px;
    
}

/* footer */
footer{
    background-color: rgba(163, 219, 219, 0.281);  
    margin: 0;
}
.contact-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 25px; 
    gap: 8px; 
}
.fa-brands{
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
}