/*global*/ 

*{
    margin:0;
    padding:0;
}
body{
    font-family: arial;
}
p{
    line-height: 2;
    font-family: serif;
}
a{
    text-decoration: none;
    color:white;
}
h2{
    font-family: 'Times New Roman';
}
img{
    max-width: 100%;
}

/*utilities*/

.container{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
.more-about-us{
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn-details{
    display: block;
    background-color: orange;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 20px;
}

/*header*/

.init-header{
    background-image: url(./realEstate-img-main/header.jpg);
    background-size: cover;
    height: 300px;
    color:white;
    text-align: center;
}

/*main*/

/*houses section*/

.houses-init-container{
     display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 20px
}
.houses-container{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    
}
.house-item{
    background-color: rgb(211, 213, 219);
}
.house-item-text{
    padding: 20px;
}
.item-container{
    display: flex;
    justify-content: space-around;
    gap: 4px;
}
.item{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.price{
    color: rgb(135, 207, 27);
}

/* footer */
 footer {
    background-color: black;
    color: aliceblue;
 }

    .menu a{
    color: aliceblue;
    text-decoration: none;
    color: azure;
    margin-right: 20px;
}

/* blog */

.blog-header{
    background-image: url(realEstate-img-main/highlight.jpg);
    background-size: cover;
    height: 250px;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
} 
.blog-init-container{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.blog-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    text-align: center;
}
.blog-img{
    width: 80%;
    height: 250px;
}
.read-more{
    color: black;
}

/*about us*/

.about-us-header{
    background-image: url(realEstate-img-main/destacada3.jpg);
    background-size: cover;
    height: 300px;
    color:white;
    text-align: center;
}
.about-init-container{
    display: block;
    block-size: auto;
    text-align: center
} 
.about-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* media queries*/

@media (max-width: 3000px){
    main{
        font-size: 25px;
    }
    .blog-img{
        width: 75%;    
    }
    div{
        display: flex;
        flex-direction: row;
    }
    section{
        display: block;
    }
}

@media (max-width: 1024px){
    main{
        font-size: 16px;
    }
    div{
        display: block;
        flex-direction: row;
    }
    .blog-img{
        width: 100%;
    }
    section{
        font-size: 16px;
        margin: 4px;
    }
}
@media (min-width:641px){
    section{
        display: flex;
        flex-direction: row;
        font-size: 14px;
    }
    div{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 640px){
    main{
        font-size: 18px;
    }
    .blog-img{
        width: 100%;
        padding: 6px;
        margin: 6px;
    }
}
@media (min-width:1025px){
    section{
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        padding: 50px;
    }
}